body {
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 55px;
    margin-right: 55px;
}

.top-bar {
    background-color: #f5f5f5;
    width: 100%;
    height: 50px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid black;
}

#chart-container {
    display: none;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#chart {
    width: 100%;
    height: 100%;
    margin-bottom: 55px;
    margin-top: 55px;
    margin-left: 5px;
    margin-right: 5px;
}

.bottom-bar {
    background-color: #f5f5f5;
    width: 100%;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 2px solid black;
}

.button {
    background-color: #f5f5f5;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    cursor: pointer;
    height: 100%;
    min-width: 1%;
}

#current-date {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

#r-img {
    padding-left: 5px;
}

#l-img {
    padding-right: 5px;
}

#connection-statues-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    display: flex;
}

#statues-text {
    font-size: 25px;
    margin-left: 10px;
}

#loading-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    display: flex;
    width: 150px;
    height: 150px;
}

.l {
    float: left;
}

.r {
    float: right;
}

.crossed-out {
    text-decoration: line-through;
    color: grey;
}

#open-settings,
#reset-settings-pos,
#open-advanced-view {
    float: left;
    height: 100%;
    width: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
}

#sanity-container {
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    font-size: larger;
}

#reset-settings-pos {
    display: none;
    float: left;
    padding-right: 10px;
    width: min-content;
    border-right: 1px solid rgb(0, 0, 0);
}

#settings-menu-body {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    width: 450px;
    height: 350px;
    background-color: #f5f5f5;
    border: 2px solid black;
}

#settings-header,
#settings-footer {
    background-color: #f5f5f5;
    width: 100%;
    text-align: center;
    position: absolute;
    border-bottom: 2px solid rgb(0, 0, 0);
    height: 35px;
}

#settings-header {
    top: 0;
    left: 0;
    cursor: move;
}

#settings-header>span {
    float: left;
    padding-left: 5px;
}

#close-settings {
    border: none;
    background: transparent;
    float: right;
    padding: 5px;
    cursor: pointer;
}

#close-settings-btn>img {
    width: 100%;
    height: 100%;
}

#settings-body {
    margin-top: 35px;
    font-size: large;
    padding: 10px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sanity-percent {
    padding-left: 5px;
}

.settings-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    width: 100%;
    border-bottom: 2px dotted black;
    padding-bottom: 10px;
    padding-top: 5px;
}

.settings-body-left {
    float: left;
    width: 50%;
}

.settings-body-right {
    float: right;
    width: 50%;
}

input[type=color] {
    border: none;
    cursor: pointer;
}

.color-selector-button {
    border: none;
    background: transparent;
    cursor: pointer;
    border: 1px solid black;
    padding: 3px;
}

.color-selector-button:hover {
    background-color: lightblue;
}